.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 70px;
  font-size: 40px;
  text-align: center;
}

.loading {
  font-size: 30px;
  margin-top: 10px;
}

.listsWrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.listName {
  padding: 5px 10px;
  text-align: center;
  margin: 10px;
  border: 1px solid black;
  font-size: 20px;
  cursor: pointer;
}

.aboutParagraph {
  margin-top: 20px;
  font-size: 25px;
}

.bookBox {
  width: 200px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

.bookImage {
  width: 200px;
  margin-bottom: 5px;
}

.bookTitle {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.bookAuthor {
  font-size: 16px;
  text-align: center;
  color: cornflowerblue;
  margin-bottom: 5px;
}

.bookBuyNow {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}
