.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  position: fixed;
  top: 5px;
  width: 95%;
  border: 1px solid black;
  background-color: whitesmoke;
}

.link {
  font-size: 30px;
  text-decoration: none;
  color: #1f1f1f;
}
